@media only screen and (max-width: 1024px) {
	/* .container {
		width: 90%;
	} */
	/* .momentum_img {
		display: none;
	} */
	/* .second_section img {
		height: 50%;
	} */
	/* .wrapper {
		width: 85%;
	} */
	/* .functions {
		grid-column-gap: 15px;
	} */
	/* .wrapper_caunters {
		grid-column-gap: 10px;
	} */
	/* .carousel_text {
		width: 70%;
	} */
	/* .programm {
		width: 90%;
	} */
	/* .img_blok {
		height: 350px;
	} */
	/* .gradient_bg {
		height: 350px;
	} */
}

@media only screen and (max-width: 768px) {
	/* .container {
		width: 95%;
	} */
	/* .main_menu {
		display: none;
	} */
	/* .nav-but-wrap {
		display: block;
	} */
	/* .first_line {
		width: 25px;
		height: 3px;
		background: #fff;
		margin-bottom: 3px;
	}
	.second_line {
		width: 25px;
		height: 3px;
		background: #fff;
		margin-bottom: 3px;
	}
	.third_line {
		width: 25px;
		height: 3px;
		background: #fff;
	} */
	/* h1 {
		font-size: 50px;
	} */
	/* .second_section p {
		padding-top: 50px;
	} */
	/* .second_section h3 {
		font-size: 22px;
		line-height: 130%;
	} */
	/* .momentum_short_description p {
		font-size: 20px;
	} */
	/* .momentum_img {
		display: none;
	} */
	/* .second_section {
		height: 60vh;
	} */
	/* .functions {
		grid-template-columns: 1fr;
	} */
	/* .second_section img {
		height: 40%;
	} */
	/* .grid_wrapper {
		grid-template-columns: 1fr;
		grid-row-gap: 30px;
	} */
	/* .carousel_text {
		width: 90%;
	} */
	/* .carousel_text p {
		font-size: 16px;
	} */
	/* .magezine span {
		font-size: 12px;
	} */
	/* .programm {
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	} */
	/* .img_blok {
		height: 180px;
	} */
	/* .waves_bg h3 {
		font-size: 30px;
		text-align: center;
	} */
	/* .get_in {
		width: 140px;
	} */
	/* .download {
		width: 150px;
		font-size: 16px;
	} */
	/* .richard h3 {
		font-size: 30px;
	} */
	/* .richard p {
		font-size: 14px;
	} */
	/* .interactive_part input {
		width: 200px;
	} */
	/* .wrapper_caunters {
		grid-template-columns: repeat(2, 1fr);
	} */
	/* .footer_links a {
		margin-right: 20px;
	} */
}
